# GitHub設定
GH_PERSONAL_ACCESS_TOKEN=your_github_token_here

# Redmine設定
REDMINE_API_KEY=your_redmine_api_key_here

# Slack設定
SLACK_USER_OAUTH_TOKEN=your_slack_user_oauth_token_here
SLACK_BOT_USER_OAUTH_TOKEN=your_slack_bot_oauth_token_here
SLACK_BOT_USER_NAME=your_slack_bot_name

# Growi設定
GROWI_API_TOKEN=your_growi_api_token_here
GROWI_COOKIE=your_growi_cookie_here

# Google設定
GOOGLE_REDIRECT_URI=http://localhost:8080/oauth2callback

# Google認証情報（JSON形式）
GOOGLE_CREDENTIALS_JSON='{}'
GOOGLE_TOKEN_JSON='{}'

# Redash設定
REDASH_API_KEY=your_redash_key_here

# Datadog設定
DATADOG_API_KEY=your_datadog_api_key_here
DATADOG_APPLICATION_KEY=your_datadog_application_key_here

# local設定
LOCAL_SOURCE_BASE_PATH=your_local_source_code_path_here

# Figma設定
FIGMA_API_TOKEN=your_figma_api_token_here

# BedRock設定
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BEARER_TOKEN_BEDROCK=your_bedrock_key_here
LOCAL_SOURCE_BASE_PATH=/Users/mukaiyama_takato/workspace
